body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.titre {
  font-size: 24px;
  font-weight: bold;
}

footer {
  background-color: #f2f2f2;
  padding: 20px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"], input[type="number"] {
  width: 100%;
  height: 30px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="radio"] {
  margin-right: 10px;
}

p {
  margin-bottom: 10px;
}

h2{
  text-align: end;
  color: #337ab7;
  font-family: fantasy;
  border-bottom: #f2f2f2;
}

a {
  text-decoration: none;
  color: #337ab7;
}

a:hover {
  color: #23527c;
}